<div class="container pt-5 pb-5">
	<h2 class="text-center text-muted">Search user on GitHub</h2>
	<form class="row align-items-center justify-content-center pt-5 pb-5">
		<div class="col-auto">
			<div class="input-group">
				<div class="input-group-text">@</div>
				<input
					type="text"
					class="form-control"
					placeholder="Username"
					name="username"
					data-input-user-name
				/>
				<small class="text text-danger error-message" data-error-message></small>
			</div>
		</div>
		<div class="col-auto">
			<button type="button" class="btn btn-primary" data-button-add>Add</button>
		</div>
	</form>

	<div class="row row-cols-1 row-cols-md-3 g-4" data-wrapper-users>
		<p class="text text-center text-muted h3 pt-5 w-100" data-is-no-user>No Added Users!</p>
	</div>
</div>